*{
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 1rem;
    margin: 1rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

#InputElement {
    height: 2rem;
    width: 30rem;
    font-size: 1.5rem;
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

#Add {
    height: 4rem;
    width: 10rem;
    font-size: 1.8rem;
    flex: 1 1 0%;
    border-radius: 0.5rem;
    appearance: none;
    /*border: none;*/
    outline: none;
    background: none;
    margin: 5px;
}

#get {
    height: 4rem;
    width: 10rem;
    font-size: 1.8rem;
    flex: 1 1 0%;
    border-radius: 0.5rem;
    appearance: none;
    /*border: none;*/
    outline: none;
    background: none;
}

ul {
    padding-left: 0px;
}

li {
    font-size: 2rem;
    list-style-type: none;
    background-color: #decaca;
    margin: 1px;
    display: flex;
    align-items: center;
}

#edit_input {
    height: 2rem;
    width: 30rem;
    font-size: 1.5rem;
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

#Save {
    height: 4rem;
    width: 10rem;
    font-size: 1.8rem;
    flex: 1 1 0%;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.edit-button {
    padding: 5px;
    height: 4rem;
    width: 1rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    margin-left: auto;
}

.delete-button {
    padding: 10px;
    height: 4rem;
    width: 1rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    margin-left: auto;
}

